.contentHolder{
    background-color:black;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    height:600px;
    width:400px;
    z-index: 0;
    text-align:center;/* Add This*/
    border-radius:60px;

}


.gameLogo{
position:relative;
top:50px;
width:250px;
height:300px;
margin:auto;
background-color:white;
border-radius:50px;
}

.startButton{
    background-color:white;
    height:50px;
    width:250px;
    position: relative;
    top:100px;
    margin:auto;
    border-radius: 30px;
}

.beginGame{
    width:100%;
    height:100%;
    font-size:40px;
    font-weight: bold;
    border-radius: 30px;
    
}

.loaderLogo{
    position:relative;
top:150px;
width:250px;
height:300px;
margin:auto;
background-color:white;
border-radius: 500px;

}

.gameContent{
    position:relative;
    top:150px;
   width:200px;
    min-height:100px;
    margin:auto;
    background-color:white;
   
    
}

.timer{
    margin:auto;
    position :relative;
    top:50px;
    max-height:40px;
    min-width:50px;
    max-width:400px;
    text-align:center;
    font-size:24px;
    background-color:#007fae;
    color:black;
    border-radius:5px;
   
}

.loaderLogoContent{
    text-align:center;
    position: absolute;
    top:30px;   
    font-size:24px;
    margin:auto;

}

.systemNumber{
    max-width:50px;
    margin:auto;
    text-align:center;
    background-color:#007fae;
    font-weight:bold;
    font-size:30px;
    position :relative;
    top:40px;
    font-size:36px;
}

.userBox{
    max-width:200px;
    margin:auto;
    text-align:center;
    background-color:#007fae;
    font-weight:bold;
    font-size:30px;
    position :relative;
    top:80px;

}
.userTable{
    width:100%;
}
.userButtons{
    max-width:200px;
    margin:auto;
    text-align:center;
    font-weight:bold;
    font-size:36px;
    position :relative;
    top:100px;
}
.systemBox{
     max-width:200px;
    margin:auto;
    text-align:center;
    background-color:#007fae;
    font-weight:bold;
    font-size:30px;
    position :relative;
    top:20px;
}
.contentBox2{
border:1px solid black; 
max-width:400px;
height:500px;
margin:auto;
background-color:#ff944d;
top:100px;
position:relative;
border-radius:30px;
}

.contentBox{
border:1px solid black; 
max-width:400px;
height:350px;
margin:auto;
background-color:#ff944d;
top:100px;
position:relative;
border-radius:30px;
}

.contentHeading{
    margin:auto;
   max-width:200px;
   height:200px;
   border:1px solid black;
   position: relative;
   top:50px; 
   font-size: 36px; 
   background-color:#007fae;
    font-family: "Times New Roman", Times, serif;
    font-weight:900;
    text-align:center;
    border-radius:20px;

}

.contentHeading2{
    margin:auto;
   max-width:200px;
   height:250px;
   border:1px solid black;
   position: relative;
   top:50px; 
   font-size: 36px; 
   background-color:#007fae;
    font-family: "Times New Roman", Times, serif;
    font-weight:900;
    text-align:center;
    border-radius:20px;

}

.contentButton{
  position: relative;
   top:100px; 
   width:200px;
   margin:auto;
}

.btn{
    width:100%;
    background-color:#007fae;
    color:black;
     font-weight:bold;
    text-align:center;
  
}


/*@media only screen and (max-height: 786px) {
    .contentHolder{

        height:500px;
        width:300px;
        margin:auto;
        background-color:black;
    }
  }*/

